@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, #1a0025 0%, #4a1766 40%, #4c2163 70%, #3a1852 100%);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

